.template-homepage {
  a.nav__logo {
    visibility: hidden;
  }

  h1 {
    padding:0;
    margin:0;
    font-size: 3em;

    @include ipad-and-smaller {
      font-size: 1.4em;
    }
  }


  @include ipad-and-smaller {
    .main {
      justify-content: center;
    }
  }

  .main_content_description {
    margin-left: 360px;
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 1px;
    opacity: 0.8;

    @include dekstop-small-and-smaller {
      margin-left: 0;
    }
  }
}
