body {
  background-color: #eee8ee;
  font-family: "Consolas", "monaco", monospace; }
  body div.container {
    padding-bottom: 4em; }
    @media only screen and (min-width: 700px) {
      body div.container {
        width: 800px;
        margin: 0 auto; } }

h1 {
  text-align: center; }

div.post-content {
  margin-bottom: 4em;
  display: flex;
  flex-direction: column; }
  div.post-content code {
    padding-left: 20px;
    background-color: white; }
  div.post-content figure {
    background-color: white;
    margin: 0;
    margin-bottom: 2em;
    padding: 1em;
    text-align: center; }

nav ul {
  display: flex;
  padding: 0;
  margin: 0; }
  nav ul li {
    list-style: none;
    margin: 0 10px; }
