{% load static wagtailuserbar wagtailmetadata_tags %}
{% load baseapp_tags menu_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% if settings.base.GeneralSettings.google_site_verification_code %}
            <meta name="google-site-verification" content="{{ settings.base.GeneralSettings.google_site_verification_code }}" />
        {% endif %}
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% meta_tags %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/codingartist.css' %}" />
        <link rel="shortcut icon" type="image/png" href="{% static 'base/favicon.ico' %}" />

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <div class="container">
            <h1>{% sitename %}</h1>
            <nav>
                {% main_menu %}
            </nav>

            {% block content %}{% endblock %}
        </div>
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/codingartist.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
