.template-homepage {
  a.nav__logo {
    visibility: hidden;
  }

  h1 {
    padding:0;
    margin:0;
    @include hide-text;
    background-image: url("/static/images/logo-1520.png");
    width: 760px;
    height: 166px;
    background-size: 760px 166px;
  }

  .main_content_description {
    margin-left: 360px;
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 1px;
    opacity: 0.8;
  }
}
