.template-standard-page {
  .page__mobile {
    display: none;
  }

  @include ipad-and-smaller {
    .page__mobile {
      display: block;
    }

    .main__content {
      display: none;
    }
  }
}