body {
  font-family: 'Source Sans Pro', sans-serif;;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.45;
}

h1 {
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h2,h3 {
  font-size: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0;
}