beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
Django==1.11.9
django-appconf==1.0.2
django-compressor==2.2
django-modelcluster==3.1
django-taggit==0.22.2
django-treebeard==4.2.0
djangorestframework==3.6.4
html5lib==0.999999999
idna==2.6
Pillow==9.0.1
pytz==2017.3
rcssmin==1.0.6
requests==2.18.4
rjsmin==1.0.12
six==1.11.0
Unidecode==1.0.22
urllib3==1.22
wagtail==1.13.1
wagtail-metadata==0.3.2
wagtailcodeblock==0.4.2
wagtailmenus==2.6
webencodings==0.5.1
Willow==1.0
