@import "../../node_modules/bourbon/core/bourbon";
// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Optional
@import "../../node_modules/bootstrap/scss/reboot";

@import "photonic/navigation";

$body_background: #eee8e8;

body {
  font-family: $font-stack-consolas;
  color: white;

  div.container {
    padding-bottom: 4em;

  }
}

h1 {
  text-align: center;
}

a, a:visited, a:focus, a:hover {
  color: white;
}

.container {
  position: relative;
}

.main {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__content {
    width: 800px;
    background-color: rgba(125, 125, 125, 0.5);
    padding: 2em;
    border-radius: 1em;
  }

  &__show-more {
    margin-bottom: 2em;
    display: block;
    background-size: 100px, 100px;
    width: 100px;
    height: 100px;
    @include hide-text;
    background-image: url("/static/images/arrow-down.png");
  }


  img.page-background_image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

.page {
  color: black;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 10em;
  min-height: 100vh;

  &__close {
    text-transform: uppercase;
    text-decoration: underline;

  }

  a, a:visited, a:hover {
    color: black;
    display: block;
    text-align: center;
    padding-bottom: 1em;
  }
}