{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags baseapp_tags%}


{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="main main--home">
        {% responsive_image_db page.background_image 1200 768 "page-background_image" %}
        <div class="main__gradient"></div>
        <div class="main__content">
            <h1>{{ page.title }}</h1>
            <div class="main_content_description">
                {% if page.description %}
                    {{ page.description | richtext}}
                {% endif %}
                {% if page.sub_title_elements %}
                    {{ page.sub_title_elements}}
                {% endif %}
            </div>
        </div>
        <a class="main__show-more" id="show-more" href="#">Show more</a>
    </div>
    <div class="page"  id="scroll-target">
        <a href="#" class="page__close" id="scroll-to-top">Close</a>
    {{ page.body }}
    </div>
{% endblock %}
